:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  background-color: #0b0f19;
  color: #e5e7eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #0b0f19; 
  display: block !important;
}

a {
  font-weight: 500;
  color: #3b82f6;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: #60a5fa;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1f2937;
  color: #e5e7eb;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  border-color: #3b82f6;
  box-shadow: 0 0 8px rgba(59,130,246,0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #0b0f19;
    color: #e5e7eb;
  }
  button {
    background-color: #1f2937;
    color: #e5e7eb;
  }
  a:hover {
    color: #60a5fa;
  }
}
